{{extend 'layout.html'}}
{{block center}}

<div class="article_list_containter">
  <div class="header">
      <table class="header_option">
          <tr >
              <td>Dang Hot</td>
              <td>Cho tra loi</td>
          </tr>
      </table>
    <!--
    <h1><img src="../avarta.jpg" width="110" height="102" /></h1>
    <h2 >suy nghĩ của một cô  gái nhỏ</h2>
    -->
    <!-- end #header --></div>
  <div class = "content">
    <h1>  </h1>
    <table>
        {{for item in items:}}
      <tr>
        <td>
            <table  >
            <tr class="article_field">
               <td>
                   khoa hoc
               </td>
           </tr>
           <tr class="article_header">
               <td>
                   {{=A(XML(item.article_header),_href=URL(r=request,f='article',args=[item.id]))}}
               </td>
           </tr>
          <tr class="article_introduction">
              <td>
                 <!-- {{=item.article_introduction}}-->
                  <input type="text" name="article_introduction" value = "quan diem cua ban">
                 </td>
          </tr>
          <tr class="article_popularity_info">
              <td >
                  {{=len(db(db.comment_tbl.id == item.id).select())}} quan diem {{=len(db(db.follow_tbl.id == item.id).select())}} quan tam
                 </td>

          </tr>
          </table>
        </td>
      </tr>
        {{pass}}
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">
    <p>xem thêm....</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
{{end}}

<!--
{{block right_sidebar}}
{{end}}
-->
</html>


