{{extend 'layout.html'}}




<div class="article_container">
  <div id="header">
      <!--
      {{=A("edit",_href=URL(r=request,f='edit_blog',args=[item.id]))}}
    <h1>
      {{=A("helloiloveit",_href=URL(r=request,f='blog_list'))}}
    </h1>
    <h2> A human being view </h2>
    -->
  <!-- end #header --></div>
  <div id="mainContent">
    {{=XML(item.story)}}
    <h2>&nbsp;</h2>
    <!--
    <p>300 nguoi thich 1000 su dung lai</p>
    -->
    <!-- end #mainContent -->
  </div>
    <div>
      {{=A("edit",_href=URL(r=request,f='edit_article',args=[item.id]))}}
    </div>

    <div>
      {{=A("delete",_href=URL(r=request,f='delete_article',args=[item.id]))}}
    </div>
</div>
</html>




