{{extend 'layout.html'}}


<div class="article_container">
  <div id="header">
    <h1>&nbsp;</h1>
    <!--
    <h1><img src="../avarta.jpg" width="110" height="102" /></h1>
    <h2 >suy nghĩ của một cô  gái nhỏ</h2>
    -->
    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>
    <table>
        {{for item in items:}}
      <tr>
        <td><table  >
          <tr>
              <td class="content">
                  {{=A(XML(item.story),_href=URL(r=request,f='blog',args=[item.id]))}}
                  </td>
          </tr>
          <tr>
            <!--
            <td class="ratting_info">91 like 35 chia se lai</td>
            -->
          </tr>
        </table></td>
      </tr>
        {{pass}}
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">
    <p>xem thêm....</p>
  <!-- end #footer --></div>
<!-- end #container --></div>

</html>


