{{extend 'layout.html'}}
<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>


<div id="container">
  <div id="mainContent">
    <h1>  </h1>
 <form id ="question_content_form2" action="" method="post">
         <p>
            <input id ="tag_list" type ="hidden"  type="text" name="tag_list"  autocomplete="off" value = tag_list>
           <input id = "question_header" type="text" name="question_info" value = "{{=question.question_info}}">
        </p>
        <p>
            <textarea  cols="80" id="editor1" name="question_detail_info" rows="10">
                {{=question.question_detail_info}}
            </textarea>
        </p>
    </form>

      <form>
             <table>
              <tr>
                  <td>
          <input type="text" id="month" name="tag_info" value = "" autocomplete="off" style="width: 150px;height:30px" />
          <br />
                      </td>
                 <td>
                           <div id="target">
          {{if len(tag_list):}}
          {{for tag in tag_list:}}
          <span class="post-tag" value="{{=tag}}">{{=tag}}<span id="delete_tag" value="{{=tag}}" class="delete-tag" title="remove" this="" tag="">x</span></span>
          {{pass}}
          {{pass}}
      </div>

                     </td>
                 </tr>
                 </table>
          <div style="position: absolute;" id="suggestions" class="suggestions">
          </div>
      </form>
      <button id="post_question_button"> Lưu lại  </button>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
<!-- end #container --></div>
    <script src="{{=URL('static','js/default/post_question.js')}}"></script>
    <script>

        var TYPING_BOX = "month";
        var RESULT_BOX = "target";

        // initialize value for tag_list when page is loaded
        $(".post-tag").each(function( index ) {
            //alert(index);
            //alert( $(this).text());
            var tag_info = $(this).text().slice(0,-1);
            //alert(tag_info);
            tag_list[tag_list.length] = tag_info;
            //alert($('#tag_list').val());
            $('#tag_list').val(tag_list);
            //alert($('#tag_list').val());
        });

        jQuery("#post_question_button").click(function(){
            $( "#question_content_form2" ).submit();
            });
        jQuery("#month").keyup(function(){

            var tag_info = $(this).val();
                     var request = $.ajax({
                url: "{{=URL('tag_handler')}}",
                type: "POST",
                data: { tag_info  : tag_info },
                dataType: "html"
          });


        request.done(function( msg ) {
            $("#suggestions").html(msg);
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });



            });


      jQuery("#" + RESULT_BOX).on('click', 'span.delete-tag', function() {
            //remove tag from tag list
            removeItem = $(this).parent().text();
            removeItem = removeItem.substring(0, removeItem.length - 1);
            user_remove_tag(removeItem);
            $(this).parent().remove();
            });


      function user_post_new_tag(tag_info, suggestion_box_id){
         $("#" + suggestion_box_id).remove();
         //alert(tag_info);
         var request = $.ajax({
                url: "{{=URL('create_new_tag')}}",
                type: "POST",
                data: { tag_info  : tag_info },
                dataType: "html"
          });


        request.done(function( msg ) {
            user_select_tag_handler(tag_info, 'suggestion_box');
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

      }

        jQuery("#month").click(function(){
            $("#month").val("");
            });
   </script>
</html>


