{{extend 'layout.html'}}


<div id="container">
  <div id="header">

    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>
    <form action="" method="post">
         <p>
             Select Class of article
         </p>
         <p>
         <select name="article_class" >
        {{for item in tag_list:}}

          <option value="{{=item.tag_info}}">{{=item.tag_info}}</option>

        {{pass}}
        </select>
        </p>
         <p>
           <input id ="question_info" type="text" name="question_info" value = "{{=question.question_info}}">
        </p>
        <p>
           <!-- <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">-->
            <textarea  cols="80" id="editor1" name="question_detail_info" rows="10">
                {{=question.question_detail_info}}
            </textarea>
        </p>
        <p>
            <input id="submit_button" type="submit" value="Submit">
        </p>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">
    <p>xem thêm....</p>
  <!-- end #footer --></div>
<!-- end #container --></div>

</html>


