{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<script type="text/javascript">
tinymce.init({
    selector: "h1.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});

tinymce.init({
    selector: "div.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});
tinymce.init({
    selector: "div.editable",
    inline: true,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | "
});

</script>



 <table class="user_brief_info">
     <tr>
         <td>
             {{img_path =' https://graph.facebook.com/' + person_info.username + '/picture?type=large'}}
             <img border="0" src={{=img_path}} alt="Pulpit rock" width="200" height="200">
         </td>
         <td>
           <table class="user_text_info">
               <tr>
                   <td id="user_fb_name">
                   {{=person_info.first_name + ' ' + person_info.last_name}}
                   </td>
               </tr>
               <tr>
                   <td>
                        <form id ="question_content_form2" action="" method="post">
                            <textarea type="text" name="user_info">{{=person_profile.detail_info}}</textarea>
        <input type="submit" value="save">
    </form>
           </div>
                   </td>
               </tr>
              <tr>
                  <td>
                  </td>
              </tr>
           </table>
         </td>
     </tr>
     <tr>
         <td>
            <table class="popular_info">
            <tr>
            </tr>
            </table>


            </td>
     </tr>
 </table>




<script language="javascript"><!--
     $('#edit_button').click(function () {
        $("#user_sub_info").css({"backgroundColor": "white" });
        $("#user_detail_info").css({"backgroundColor": "white"});
        $('#edit_button').hide();
        $('#save_button').show();
        });

     $('#save_button').click(function () {
     alert('save');
         user_sub_info = document.getElementById("user_sub_info");
          user_detail_info = document.getElementById("user_detail_info");
        $.ajax({
  type: "POST",
  url: "update_profile",
  data: {sub_if : user_sub_info.innerHTML, detail_if:user_detail_info.innerHTML},
  cache: false,
  success: function(data){
     $("#save_button").hide();
     $("#edit_button").show();
  }
});
        });
     $('#follow_button').click(function () {
         var id = $(this).attr("value");
        ajax('follow_a_person?person_id='+ id, ['aaaaa'], 'follow_button');
        });
     $('#unfollow_button').click(function () {
         var id = $(this).attr("value");
        ajax('unfollow_a_person?person_id='+ id, [''], 'unfollow_button');
        });
//--></script>
