{{extend 'fb_layout.html'}}


<div class="delete_window_container">
    <h3> Bạn có chắc chắn muốn xoá chủ đề này</h3>
    <form action = "" method = "post">
        <input id = "yes_selection" type="submit"  value="xoá" />
        <input id ="" type ="hidden"  type="text" name="selection"  value = "YES">
        <input id ="tag_list" type ="hidden"  type="text" name="answer_id"   value = "{{=answer_id}}">
    </form>
    </div>
    <div>
    <form action = "" method = "post">
        <input id = "no_selection" type="submit"  value="huỷ" />
        <input id = "" type="hidden" name="selection" value="NO" />
        <input id ="tag_list" type ="hidden"  type="text" name="answer_id"   value = "{{=answer_id}}">
    </form>
    </div>

</html>


