{{left_sidebar_enabled = False}}
{{right_sidebar_enabled=False}}
{{extend 'fb_layout.html'}}
{{block center}}
<style>
    #suggestions { position: relative; }
    .suggestions { background: white; border: solid 1px #55A6C8; }
    .suggestions DIV { padding: 2px 4px 2px 4px; }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
    .ui-autocomplete-loading {
    background: white url("{{=URL('static', 'images/ui-anim_basic_16x16.gif')}}") right center no-repeat;
    }
    #city { width: 15em; }
</style>


<div class="fb_article_list_containter">
    <div class="header">
        <!--
      <!-- end #header --></div>
    <div class = "content">
        <table class="fb_content_list_table">
            <tr class="article_header" >
                <td>
                    <a id = "fb_post_button" href={{=URL('fb_post')}} rel="nofollow"> Đặt câu hỏi</a>
                </td>
            </tr>
            <tr class="detail_info">
                <td>
                    <p class="">bat cu thu gi dang lam ban ban tam</p>
                </td>
            </tr>
        </table>
        <table class="fb_content_list_table">
            <tr class="article_header" >

                <td>
                    <span id = "share_knownledge_header"  rel="nofollow"> Chia sẻ kinh nghiệm</span>
                </td>

            </tr>
            <tr class="detail_info">
                <td>
                    <form id="tag_list_form" action="fb_save_tag_list" method="post">
                        <table>
                            <tr>
                                <td>
                                    {{if auth.is_logged_in():}}
                                    <input id ="tag_list" type ="hidden"  type="text" name="tag_list"  autocomplete="off" value = tag_list>
                                    <input type="text" id="city" name="tag_info" value = "" autocomplete="off"  />
                                    <!--<span class="suggest_text"> học tiếng anh..</span>-->
                                    <br />
                                    {{pass}}
                                </td>
                                <td>
                                    <div id="target">
                                        {{if len(tag_list):}}
                                        {{for tag in tag_list:}}
                                        <span class="post-tag" value="{{=tag}}">{{=tag}}<span id="delete_tag" value="{{=tag}}" class="delete-tag" title="remove" this="" tag="">x</span></span>
                                        {{pass}}
                                        {{pass}}

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                         <a id="create_new_tag">save this tag</a>
                        </div>

                    </form>
                </td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- end #mainContent --></div>
    <div id="footer">
        <!-- end #footer --></div>
    <!-- end #container --></div>



        <script src="{{=URL('static','js/default/post_question.js')}}"></script>
        <script>
        $('#create_new_tag').hide();
        //set value for id
        var TAG_TYPING_BOX = "city";
        var RESULT_BOX = "target";
        var CREATE_NEW_TAG = "create_new_tag";

        // initialize value for tag_list when page is loaded
        $(".post-tag").each(function( index ) {
            //alert(index);
            //alert( $(this).text());
            var tag_info = $(this).text().slice(0,-1);
            //alert(tag_info);
            tag_list[tag_list.length] = tag_info;
            //alert($('#tag_list').val());
            $('#tag_list').val(tag_list);
            //alert($('#tag_list').val());
        });


        $('#question_header').val("tiêu đề câu hỏi");
        $("#" + TAG_TYPING_BOX).val("lĩnh vực bạn quan tâm");
        $('#question_header').click(function(){
            $('#question_header').val("");
        });
        $("#"+ TAG_TYPING_BOX).click(function(){
            $("#"+ TAG_TYPING_BOX).val("");
        });


        jQuery('#' + CREATE_NEW_TAG).click(function(){
            var tag_value = $('#city').val();
            user_post_new_tag(tag_value, 'suggestion_box');
         });




        jQuery("#post_question_button").click(function(){
            $( "#question_content_form2" ).submit();
            });






        jQuery("#" + RESULT_BOX).on('click', 'span.delete-tag', function() {
            //remove tag from tag list
            removeItem = $(this).parent().text();
            removeItem = removeItem.substring(0, removeItem.length - 1);
            user_remove_tag(removeItem);
            $(this).parent().remove();
            save_tag_list();
            });

        function save_tag_list(){
                      var request = $.ajax({
                url: "{{=URL('fb_save_tag_list')}}",
                type: "POST",
                data: { tag_info  : tag_list },
                dataType: "html"
          });


        request.done(function( msg ) {
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });
        }

        // leave this code here for using URL
      function user_post_new_tag(tag_info, suggestion_box_id){
         $("#" + suggestion_box_id).remove();
         var request = $.ajax({
                url: "{{=URL('create_new_tag')}}",
                type: "POST",
                data: { tag_info  : tag_info },
                dataType: "html"
          });


        request.done(function( msg ) {
            user_select_tag_handler_new(tag_info);
            save_tag_list();

        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

      }

    </script>
        <script>

  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#target" );
      $( "#target" ).scrollTop( 0 );
    }

    $( "#city" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "{{=URL('tag_handler')}}",
          dataType: "jsonp",
          data: {
            tag_info: request.term
          },
          success: function( data ) {
            if (data.length ==0){
                $('#create_new_tag').show();
            }
            response( data );
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
        $('#create_new_tag').hide();
        user_select_tag_handler_new(ui.item.label);
        save_tag_list();
        //alert(tag_list);

      },
      open: function() {
        $('#create_new_tag').hide();
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
  </script>

        </html>
