{{left_sidebar_enabled = False}}
{{right_sidebar_enabled=False}}
{{extend 'fb_layout.html'}}
{{block center}}




<div class="fb_article_list_containter">
  <div class="header">
      <!--
    <!-- end #header --></div>
  <div class = "content">
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <a id = "fb_post_button" href={{=URL('fb_post')}} rel="nofollow"> Đặt câu hỏi</a>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <a class="">bat cu thu gi dang lam ban ban tam</a>
           </td>
       </tr>
   </table>
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <span id = "share_knownledge_header"  rel="nofollow"> Chia sẻ kinh nghiệm</span>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <!--
               <a class="">Chọn lĩnh vực bạn quan tâm</a>
               -->
                    <form id="tag_list_form" action="fb_save_tag_list" method="post">
          <table>
              <tr>
                  <td>
          <input id ="tag_list" type ="hidden"  type="text" name="tag_list"  autocomplete="off" value = tag_list>
          <input type="text" id="typing_box" name="tag_info" value = "" autocomplete="off"  />
          <!--<span class="suggest_text"> học tiếng anh..</span>-->
          <br />
                  </td>
                  <td>
                      <div id="target">
                                    {{if len(tag_list):}}
          {{for tag in tag_list:}}
          <span class="post-tag" value="{{=tag}}">{{=tag}}<span id="delete_tag" value="{{=tag}}" class="delete-tag" title="remove" this="" tag="">x</span></span>
          {{pass}}
          {{pass}}

                      </div>
                  </td>
              </tr>
             </table>
          <div style="position: absolute;" id="suggestions" class="suggestions">
          </div>

      </form>
               <button id="save_tag_list_button"> Lưu lại   </button>

           </td>
       </tr>
   </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- end #mainContent --></div>
  <div id="footer">
  <!-- end #footer --></div>
<!-- end #container --></div>
              <script src="{{=URL('static','js/default/post_question.js')}}"></script>
    <script>
        //set value for id
        var TYPING_BOX = "typing_box";
        var RESULT_BOX = "target";
        var SAVE_TAG_LIST_BUTTON = "save_tag_list_button";
        $( "#save_tag_list_button" ).hide();

        $("#" + TYPING_BOX).val("Nhập vào lĩnh vực của bạn");
        $('#question_header').click(function(){
            $('#question_header').val("");
        });

        jQuery("#" + TYPING_BOX).keyup(function(){
            ajax('tag_handler', ['tag_info'], 'suggestions');
            });
        jQuery("#"+ TYPING_BOX).click(function(){
            $("#" + TYPING_BOX).val("");
            $( "#save_tag_list_button" ).hide();
            });
        $("#" +  TYPING_BOX).keypress(function (e){
            if(e.keyCode == 13){
             e.preventDefault();
            }
        });

        // initialize value for tag_list when page is loaded
        $(".post-tag").each(function( index ) {
            alert(index);
            //alert( $(this).text());
            var tag_info = $(this).text().slice(0,-1);
            //alert(tag_info);
            tag_list[tag_list.length] = tag_info;
            //alert($('#tag_list').val());
            $('#tag_list').val(tag_list);
            alert($('#tag_list').val());
        });



        jQuery("#" + SAVE_TAG_LIST_BUTTON).click(function(){
            alert('save ');
            alert($('#tag_list').val());

                     var request = $.ajax({
                url: "{{=URL('fb_save_tag_list')}}",
                type: "POST",
                data: { tag_info  : tag_list },
                dataType: "html"
          });


        request.done(function( msg ) {
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

            });

        jQuery("#" + RESULT_BOX).on('click', 'span.delete-tag', function() {
            //remove tag from tag list
            alert('tag list value = ');
            alert(tag_list);
            removeItem = $(this).parent().text();
            removeItem = removeItem.substring(0, removeItem.length - 1);
            user_remove_tag(removeItem);
            alert('tag list value = ');
            alert(tag_list);
            $(this).parent().remove();
            $( "#save_tag_list_button" ).show();

            });



            // leave this code here for using URL
      function user_post_new_tag(tag_info, suggestion_box_id){
         $("#" + suggestion_box_id).remove();
         var request = $.ajax({
                url: "{{=URL('create_new_tag')}}",
                type: "POST",
                data: { tag_info  : tag_info },
                dataType: "html"
          });


        request.done(function( msg ) {
            user_select_tag_handler(tag_info, 'suggestion_box');
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

      }
    </script>
{{end}}

{{block right_sidebar}}
        <div id="right_bar_info" >
            {{=A('Vi sao co chuotnhat.vn',_class='mission_info_link', _href=URL(f='fb_post',args=[]))}}
            </div>
{{end}}
</html>


