{{left_sidebar_enabled = False}}
{{right_sidebar_enabled=False}}
{{extend 'fb_layout.html'}}
{{block center}}




<div class="fb_article_list_containter">
  <div class="header">
      <!--
    <!-- end #header --></div>
  <div class = "content">
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <a id = "fb_post_button" href={{=URL('fb_post')}} rel="nofollow"> Đặt câu hỏi</a>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <a class="">bat cu thu gi dang lam ban ban tam</a>
           </td>
       </tr>
   </table>
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <span id = "share_knownledge_header"  rel="nofollow"> Chia sẻ kinh nghiệm</span>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <!--
               <a class="">Chọn lĩnh vực bạn quan tâm</a>
               -->
                    <form id="tag_list_form" action="fb_save_tag_list" method="post">
          <table>
              <tr>
                  <td>
          <input id ="tag_list" type ="hidden"  type="text" name="tag_list"  autocomplete="off" value = tag_list>
          <input type="text" id="typing_box" name="tag_info" value = "" autocomplete="off"  />
          <!--<span class="suggest_text"> học tiếng anh..</span>-->
          <br />
                  </td>
                  <td>
                      <div id="target"></div>
                  </td>
              </tr>
             </table>
          <div style="position: absolute;" id="suggestions" class="suggestions">
          </div>

      </form>
               <button id="save_tag_list_button"> Lưu lại   </button>

           </td>
       </tr>
   </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- end #mainContent --></div>
  <div id="footer">
  <!-- end #footer --></div>
<!-- end #container --></div>
              <script src="{{=URL('static','js/default/post_question.js')}}"></script>
    <script>
        //set value for id
        var TYPING_BOX = "typing_box";
        var RESULT_BOX = "target";
        var SAVE_TAG_LIST_BUTTON = "save_tag_list_button";

        $("#" + TYPING_BOX).val("Nhập vào lĩnh vực của bạn");
        $('#question_header').click(function(){
            $('#question_header').val("");
        });

        jQuery("#" + TYPING_BOX).keyup(function(){
            ajax('tag_handler', ['tag_info'], 'suggestions');
            });
        jQuery("#"+ TYPING_BOX).click(function(){
            $("#" + TYPING_BOX).val("");
            $( "#save_tag_list_button" ).hide();
            });
        $("#" +  TYPING_BOX).keypress(function (e){
            if(e.keyCode == 13){
             e.preventDefault();
            }
        });

        jQuery("#save_tag_list_button").click(function(){
                     var request = $.ajax({
                url: "{{="https://graph.facebook.com/"+ "540428388" + "/notifications"}}",
                type: "POST",
                data: { access_token: "228859397308903|9ZGWzwJdayij8pJ_ydlCmNCigcQ", href:"huyheo", template:"@[540428388] started a game with you, play now!"},
                dataType: "html"
          });


        request.done(function( msg ) {
            alert('success');
        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

            });
    </script>
{{end}}

{{block right_sidebar}}
        <div id="right_bar_info" >
            {{=A('Vi sao co chuotnhat.vn',_class='mission_info_link', _href=URL(f='fb_post',args=[]))}}
            </div>
{{end}}
</html>


