
{{extend 'firstpage_layout.html'}}
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
<style>

table {
  margin-left: auto;
  margin-right: auto;
}
    .wrapper {
  display: table-cell;
  vertical-align: middle;
}

#ask_button{
    margin-left: auto;
    margin-right: auto;
    font-size : 30px;
    color: rgb(147, 96, 96);
  }

#title{
        font-size : 30px;
    color: rgb(147, 96, 96);
 }
#next_button{
    font-size : 30px;
    color: rgb(147, 96, 96);
    }
</style>
<div>
  <p>
</p>

  <table class="box" >
      <tr>
          <td id="title">
              Học hỏi và chia sẻ kinh nghiệm
          </td>
      </tr>

    <tr>
        <td>
            <img src= {{=URL('static', 'images/friend_vector.jpg')}} style='  max-width:100%;' border="0" alt="Null">
        </td>
    </tr>

     <tr>
        <td>
            <a id = "ask_button" href={{=URL('fb_post')}} rel="nofollow"> Đặt câu hỏi</a>
        </td>
      </tr>
      <tr>
         <td>
             <a id = "next_button" href={{=URL('question_list')}} rel="nofollow">khám phá</a>
         </td>
    </tr>
</table>
