{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}


        <div id="mission_info">
<h3>Ch&agrave;o mừng bạn đến với Chuột Nhắt</h3>
<p>&nbsp; &nbsp; &nbsp; Rời khỏi Chuột nhắt ngay nếu bạn chưa bao giờ gặp phải những c&acirc;u hỏi dưới đ&acirc;y</p>
<ul>
<li>Gi&aacute; như m&igrave;nh được định hướng tốt hơn khi hết cấp 3</li>
<li>Gi&aacute; nhu c&oacute; ai truyền động lực cho m&igrave;nh trong c&ocirc;ng việc</li>
<li>Gi&aacute; như c&oacute; ai n&oacute;i cho m&igrave;nh hiểu được học ngoại ngữ l&agrave; phải giao tiếp&nbsp;</li>
<li>.....</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;Nếu bạn chưa dời đi. Hay đặt ngay c&acirc;u hỏi m&agrave; bạn vẫn đang băn khoăn </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>