{{extend 'layout.html'}}
<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>


<div class="post_article">
  <div>
    <h1>Viết câu hỏi mới</h1>
    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>
    <form>
        <input type="text" id="month" name="tag_info" value = "input tag here" style="width: 250px" />
        <br />
         <div style="position: absolute;" id="suggestions" class="suggestions"></div>
    </form>
      <div id="target"></div>
    <script>
        var tag_list = [];

        jQuery("#month").keyup(function(){
            ajax('tag_handler', ['tag_info'], 'suggestions');
            });
        jQuery("#month").click(function(){
            $("#month").val("");
            });


      function user_select_tag_handler(tag_info, suggestion_box_id){
         $('#month').val(tag_info);
         $("#" + suggestion_box_id).remove();
         tag_list[tag_list.length] = tag_info;

         current_tag = $('#target').html();
         $('#target').html(current_tag+' ' + tag_info);

         $('#tag_list').val(tag_list);
         alert(tag_list);
      }
    </script>
    <form action="post_question" method="post">
         <p>




        <!--
        <select name="article_class" >
        {{for article in article_tag_list:}}
        <option value="{{=article.name}}">{{=article.name}}</option>
        {{pass}}
        </select>
        -->
        </p>
        <p>
            <input id ="tag_list" type ="hidden"  type="text" name="tag_list" value = tag_list>
           <input type="text" name="article_header" value = "what is the date of today?">
        </p>
        <!--
        <p>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

            </textarea>
        </p>-->
        <p>
                <textarea  id="editor1" name="editor1" rows="10" >

            </textarea>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">
    <p>xem thêm....</p>
  <!-- end #footer --></div>
<!-- end #container --></div>

</html>


