{{extend 'layout.html'}}
<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>


<div class="post_article">
  <div>
    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>

    <form id ="question_content_form" action="post_question" method="post">
         <p>




        <!--
        <select name="article_class" >
        {{for article in article_tag_list:}}
        <option value="{{=article.name}}">{{=article.name}}</option>
        {{pass}}
        </select>
        -->
        </p>
        <p>
            <input id ="tag_list" type ="hidden"  type="text" name="tag_list"  autocomplete="off" value = tag_list>
           <input id = "question_header" type="text" name="article_header" value = "what is the date of today?">
        </p>
        <!--
        <p>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

            </textarea>
        </p>-->
        <p>
                <textarea  id="editor1" name="editor1" rows="10" >

            </textarea>
        </p>
    </form>
      <form>
          <input type="text" id="month" name="tag_info" value = "input tag here" autocomplete="off" style="width: 250px" />
          <br />
          <div style="position: absolute;" id="suggestions" class="suggestions"></div>
      </form>
      <div id="target"></div>
      <button id="post_question_button"> post question </button>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <!-- end #footer --></div>
<!-- end #container --></div>

    <script>
        var tag_list = [];

        jQuery("#month").keyup(function(){
            ajax('tag_handler', ['tag_info'], 'suggestions');
            });
        jQuery("#month").click(function(){
            $("#month").val("");
            });

        jQuery("#post_question_button").click(function(){
            alert('post');
            $( "#question_content_form" ).submit();
            });

      function user_post_new_tag(tag_info, suggestion_box_id){
         $("#" + suggestion_box_id).remove();
          alert('post new tag');
      }

      function user_select_tag_handler(tag_info, suggestion_box_id){
         $('#month').val(tag_info);
         $("#" + suggestion_box_id).remove();
         tag_list[tag_list.length] = tag_info;

         current_tag = $('#target').html();
         $('#target').html(current_tag+' ' + tag_info);

         $('#tag_list').val(tag_list);
         alert(tag_list);
      }
    </script>


</html>


