{{extend 'layout.html'}}



<div class="article_container">
  <div>


            <table  >
            <tr class="article_tag">
               <td>

               </td>
           </tr>
           <tr class="article_header">
               <td>
                   {{=A(XML(item.question_info),_href=URL(r=request,f='article',args=[item.id]))}}
               </td>
           </tr>
          <tr class="article_introduction">
              <td>
                {{=XML(item.question_detail_info)}}
              </td>
          </tr>
          <tr class="article_popularity_info">
              <td >
                  {{=len(comment_list)}} quan diem  quan tam
                 </td>
              <td>
             <!-- <img border="0" src=https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p50x50/524680_10151914256443389_1087551412_n.jpg alt="Pulpit rock" width="150" height="150"> -->
                  {{if user_info:}}
                  {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
                  <img border="0" src={{=img_path}} alt="Pulpit rock" width="50" height="50">
                  {{pass}}
              </td>

          </tr>

          </table>


   </div>
  <div id="mainContent">



     <input id="inputCommentButton" name="question_id" value = "nhap comment here">


    <form id="realEditor"  action="post_comment" method="post">
        <p>
           <input type="hidden" name="question_id" value = {{=item.id}}>
        </p>
        <!--
        <p>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

            </textarea>
        </p>
        -->

                <textarea  id="editor1" name="answer_info" rows="10" >

            </textarea>

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
  </div>

   <div class="article_comment_container">
    <table>
        {{for comment in comment_list:}}
      <tr>
        <td>
            <table  >
            <tr class="user_info">
                 <td>
                {{= db(db.auth_user.id == comment.author_info).select()[0].first_name}}
               </td>
           </tr>
            <tr class="comment_info">
                 <td>
                {{=XML(comment.answer_info)}}
               </td>
           </tr>
          <tr class="article_popularity_info">
              <td >
                  thich   binh luan  bao cao
                 </td>

          </tr>
            </table>
        </td>
      </tr>
      {{pass}}
    </table>
   </div>


    <div>
      {{=A("edit",_href=URL(r=request,f='edit_question',args=[item.id]))}}
    </div>

    <div>
      {{=A("delete",_href=URL(r=request,f='delete_question',args=[item.id]))}}
    </div>
</div>





<script>
$('#realEditor').hide();
$( '#inputCommentButton' ).click(function() {
  $( this ).hide( );
  <!--$( this ).slideUp();-->
    $( '#realEditor' ).show(  );

});
</script>