{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}



<div class="article_container">
  <div>


            <table class="article_tag">
            <tr>
                {{question_tag_list = db(db.question_tag_tbl.question_info == item.id).select()}}
                {{for tag_unit in question_tag_list:}}
               <td>
                   {{tag_record = db(db.tag_tbl.id == tag_unit.tag_info).select().first()}}
                   {{=tag_record.name}}

               </td>
                {{pass}}
           </tr>
         </table>
         <table  class="article_header">
           <tr >
               <td>
                   {{=item.question_info}}
               </td>
           </tr>
           </table>
           <table class ="article_introduction">
          <tr >
              <td>
                {{=XML(item.question_detail_info)}}
              </td>
          </tr>
          </table>
          <table class="article_popularity_info">
            <tr>
              <td >
                  {{=len(comment_list)}} quan diem  {{=len(like_list)}} quan tam
              </td>
                {{if auth.is_logged_in():}}
                <td>
                    {{=A("edit",_id ='edit_button',_href=URL(r=request,f='edit_question',args=[item.id]))}}
                </td>
                <td>
                    {{=A("delete",_id='delete_button', _href=URL(r=request,f='delete_question',args=[item.id]))}}
                </td>
               {{pass}}
              <td>
             <!-- <img border="0" src=https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p50x50/524680_10151914256443389_1087551412_n.jpg alt="Pulpit rock" width="150" height="150"> -->
                  {{if user_info:}}
                  {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
                  <!--
                  <img border="0" src={{=img_path}} alt="Pulpit rock" width="50" height="50">
                  -->
                  {{pass}}
                  {{='  by   '}}
                  <a id ="user_profile" href='http://localhost:8002/welcome/default/user_profile' onclick="location.href=this.href+'?user_id='+{{=user_info.id}}; return false;">  {{=user_info.first_name}}</a>
              </td>

          </tr>

          </table>


   </div>
  <div id="mainContent">



     <input id="inputCommentButton" name="question_id" value = "tra loi">


    <form id="realEditor"  action="post_comment" method="post">
        <p>
           <input type="hidden" name="question_id" value = {{=item.id}}>
        </p>
        <!--
        <p>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

            </textarea>
        </p>
        -->

                <textarea  id="editor1" name="answer_info" rows="10" >

            </textarea>

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
  </div>
   <div >
       <table class="article_comment_container">
        {{for comment in comment_list:}}
      <tr>
        <td>
            <table class="user_comment" >
            <tr class="user_info">
                 <td>
                {{user_info = db(db.auth_user.id == comment.author_info).select().first()}}
                      <a id ="user_profile" href='http://localhost:8002/welcome/default/user_profile' onclick="location.href=this.href+'?user_id='+{{=user_info.id}}; return false;">  {{=user_info.first_name}}</a>
               </td>
           </tr>
            <tr class="comment_info">
                 <td>
                {{=XML(comment.answer_info)}}
               </td>
           </tr>
          <tr class="article_popularity_info">
              <td >
                  {{if auth.is_logged_in():}}
                  {{like_record = db((db.answer_like_tbl.answer_id == comment.id)&(db.answer_like_tbl.user_info == auth.user.id )).select()}}
                  {{if len(like_record):}}
                  <a id ="unlike_button" value ={{=comment.id}}> unlike</a>
                  {{else:}}
                  <a id ="like_button" value ={{=comment.id}}> like</a>
                  {{pass}}
                  {{pass}}
                 </td>
              <!--
              <td>bao cao</td>
              -->

          </tr>
            </table>
        </td>
      </tr>
      {{pass}}
    </table>
   </div>


</div>
{{block right_sidebar}}
        <ul id="right_bar_question_list" >
            {{for item in related_question_list:}}
            <li>
                {{=A(XML(item.question_info),_href=URL(r=request,f='question',args=[item.id]))}}
            </li>
            {{pass}}
        </ul>
{{end}}



<script>
$('#realEditor').hide();
$( '#inputCommentButton' ).click(function() {
  $( this ).hide( );
  <!--$( this ).slideUp();-->
    $( '#realEditor' ).show(  );

});

$('#like_button').click(function () {
        alert("hello a ");
         var id = $(this).attr("value");
         alert(id);
        ajax('http://localhost:8002/welcome/default/like_an_answer?answer_id='+ id, [''], 'like_button');
});
</script>