{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{response.title = item.question_info}}


<div class="article_container">
  <div>


            <table class="article_tag">
            <tr>
                {{question_tag_list = db(db.question_tag_tbl.question_info == item.id).select()}}
                {{for tag_unit in question_tag_list:}}
               <td>
                   {{tag_record = db(db.tag_tbl.id == tag_unit.tag_info).select().first()}}
                   {{=tag_record.name}}

               </td>
                {{pass}}
           </tr>
         </table>
         <table  class="article_header">
           <tr >
               <td>
                   <div class="article_header_text">
                       {{=item.question_info}}
                   </div>
               </td>
           </tr>
           </table>
           <table class ="article_introduction">
          <tr >
              <td>
                  {{=SPAN(XML(item.question_detail_info), _class='article_introduction_bigger')}}
              </td>
          </tr>
          </table>
          <table class="article_popularity_info">
            <tr>
              <td >
                  <span class="question_answer_info">{{=len(comment_list)}} trả lời </span>
                  <span class="question_like_info">{{=len(like_list)}} thích </span>
              </td>
                {{if auth.is_logged_in():}}
                <td>
                    {{=SPAN("sửa",_id ='edit_button', _class='handling_button',_href=URL(r=request,f='edit_question',args=[item.id]))}}
                </td>
                <td>
                    {{=SPAN("xoá",_id='delete_button',_class='handling_button', _href=URL(r=request,f='delete_question',args=[item.id]))}}
                </td>
               {{pass}}
              <td>
             <!-- <img border="0" src=https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p50x50/524680_10151914256443389_1087551412_n.jpg alt="Pulpit rock" width="150" height="150"> -->
                  {{if user_info:}}
                  {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
                  <!--
                  <img border="0" src={{=img_path}} alt="Pulpit rock" width="50" height="50">
                  -->
                  {{pass}}
                  <span id ="user_profile" href="{{=URL(f='user_profile')}}" onclick="location.href=this.href+'?user_id='+{{=user_info.id}}; return false;">&nbsp;&nbsp; {{=' bởi    '}} {{=user_info.last_name}}</span>
              </td>

          </tr>
          <tr>
                  {{if auth.is_logged_in():}}
              <td>
                  <div id="inputCommentButton" name="question_id" >
                      <a id="reply_question_button">
                      <img border="0" src={{=URL('static', 'images/reply.png')}} alt="Pulpit rock" width="45" height="45">
                      trả lời
                         </a>

                  </div>
              </td>
              {{pass}}
             </tr>

          </table>


   </div>
  <div id="mainContent">





    <form id="realEditor"  action="post_comment" method="post">
        <p>
           <input type="hidden" name="question_id" value = {{=item.id}}>
        </p>
            <textarea  id="editor1" name="answer_info" rows="10" >
            </textarea>
        <p>
            <input id="post_answer_button" type="submit" value="Gửi">
        </p>
    </form>
  </div>
   <div >
       <table class="article_comment_container">
        {{for comment in comment_list:}}
      <tr class="answer_unit">
        <td class="answer_unit_td">
            <table class="user_comment" >
            <tr class="user_info">
                {{user_info = db(db.auth_user.id == comment.author_info).select().first()}}
                {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
                <td>
                    <a id ="user_profile" href="{{=URL(f='user_profile')}}" onclick="location.href=this.href+'?user_id='+{{=user_info.id}}; return false;">
                        <img border="0" src={{=img_path}} alt="Pulpit rock" width="40" height="40">
                    </a>

                </td>
                 <td class="user_profile_text">
                      <a id ="user_profile" href="{{=URL(f='user_profile')}}"  onclick="location.href=this.href+'?user_id='+{{=user_info.id}}; return false;">  {{=user_info.first_name}}</a>
                     {{user_profile = db(db.user_profile.user_info == user_info.id).select().first()}}
                     {{if user_profile:}}
                     <span class="user_detail_info">{{=XML(user_profile.detail_info)}}</span>
                     {{pass}}
               </td>
           </tr>
            </table>
            <table>
            <tr class="comment_info">
                 <td>
                {{=XML(comment.answer_info)}}
               </td>
           </tr>
             </table>
           <table>
          <tr class="article_popularity_info">
              <td >
                  {{if auth.is_logged_in():}}
                  {{like_record = db((db.answer_like_tbl.answer_id == comment.id)&(db.answer_like_tbl.user_info == auth.user.id )).select()}}
                  {{if len(like_record):}}
                  <span class ="like_unlike_button" id ="unlike" value ={{=comment.id}} style="color: rgb(207, 9, 9);" >
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</span>
                  {{else:}}
                  <a class ="like_unlike_button" id ="like" value ={{=comment.id}} style="color:grey">
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon_grey.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</a>
                  {{pass}}
                  {{else:}}
                  <a  class ="register_to_like" value ={{=''}} style="color:grey" href={{=URL( f='user/login',vars=dict(_next=URL(f='question', args=[request.args[0]] ))  )}}>
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon_grey.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</a>
                  {{pass}}
                  </td>
                  <td>
                  {{like_record = db((db.answer_like_tbl.answer_id == comment.id)).select()}}
                  <span class="count_like">{{=len(like_record)}}</span><span> thích</span>
                 </td>
              {{if (auth.is_logged_in() and (auth.user.id == comment.author_info)):}}
              <td>
                  {{=SPAN("sửa",_id ='edit_answer_button', _class='handling_button', _href=URL(r=request,f='edit_answer',args=[comment.id], vars={'origin':'question'}))}}
              </td>
              <td>
                  {{=SPAN("xoá",_id='delete_answer_button', _class='handling_button', _href=URL(r=request,f='delete_answer',args=[comment.id]))}}
              </td>
              {{pass}}
              <!--
              <td>bao cao</td>
              -->

          </tr>
            </table>
        </td>
      </tr>
      {{pass}}
    </table>
   </div>

</div>
{{block right_sidebar}}
        <div class="ask_friend_area">
                      <a id="ask_friend_button"  href=
                          "http://www.facebook.com/dialog/send?
  app_id=123050457758183
  &link=http://www.chuotnhat.vn/question/6494983494303744
  &redirect_uri=http://localhost:8002/question/2"
                              >
            <img border="0" src={{=URL('static', 'images/ask_friend.png')}} alt="Pulpit rock" width="45" height="45">
                          hỏi bạn bè
             </a>
            </div>
        <!--
        <ul id="right_bar_question_list" >
            {{for item in related_question_list:}}
            <li>
                <a id="related_question" href={{=URL(r=request,f='question',args=[item.id])}}>{{=XML(item.question_info)}}</a>
            </li>
            {{pass}}
        </ul>
        -->
{{end}}



<script>
$('#realEditor').hide();
$( '#inputCommentButton' ).click(function() {
  $( this ).hide( );
  <!--$( this ).slideUp();-->
    $( '#realEditor' ).show(  );
tinymce.execCommand('mceFocus',false,'editor1');
});

     $('.like_unlike_button').click(function () {
         var myThisVariable = $(this);
         var id = $(this).attr("value");
         var like_unlike_val = $(this).html();
         var like_unlike_val = $(this).attr("id");
         //alert(like_unlike_val);
         //alert(like_unlike_val.length);
         //alert(like_unlike_val.localeCompare("quan tâm"));

         if (like_unlike_val == "like")
         {
            //alert('equal like');
             $.ajax({
            type: "POST",
            url: '{{=URL(f='like_an_answer')}}',
            data: {answer_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon.png");
            }
            });

           $(this).css('color', 'rgb(207, 9, 9)');
           $(this).attr('id', 'unlike');
         } else
         {
            $.ajax({
            type: "POST",
            url: '{{=URL(f='unlike_an_answer')}}',
            data: {answer_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon_grey.png");
            }
            });
           $(this).attr('id', 'like');
           $(this).css('color', 'grey');
         }
        });

</script>