{{extend 'layout.html'}}
{{if person_profile:}}
 <table class="user_brief_info">
     <tr>
         <td>
         {{=person_info.first_name}}
         </td>
     </tr>
     <tr>
         <td>
         {{=XML(person_profile.self_introduction)}}
         </td>
     </tr>
 </table>
 <table>
     <tr>
         <td>
             {{img_path =' https://graph.facebook.com/' + person_info.username + '/picture?type=large'}}
             <img border="0" src={{=img_path}} alt="Pulpit rock" width="200" height="200">
         </td>
         <td>
            {{= "detail info of user here"}}
         </td>
     </tr>
 </table>
{{else:}}
<form id="realEditor"  action="user_profile" method="post">
    <!--
    <p>
        <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

        </textarea>
    </p>
    -->
    <textarea  id="editor1" name="self_introduction" rows="10" >


    </textarea>

    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{{pass}}

{{if not follow_flag :}}
<button id ="follow_button" value={{=person_info.id}} name="follow"> follow</button>
{{else:}}
<button id ="unfollow_button" value={{=person_info.id}} name="follow"> unfollow</button>
 {{pass}}

<table>
    <tr>
        <td>
            {{="Quan tam"}}
        </td>
    </tr>
    <tr>
        <td>
            {{="Duoc Quan tam"}}
        </td>
    </tr>
</table>




<script language="javascript"><!--
     $('#follow_button').click(function () {
         var id = $(this).attr("value");
        ajax('follow_a_person?person_id='+ id, [''], 'follow_button');
        });
     $('#unfollow_button').click(function () {
         var id = $(this).attr("value");
        ajax('unfollow_a_person?person_id='+ id, [''], 'unfollow_button');
        });
//--></script>
