{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<script type="text/javascript">
tinymce.init({
    selector: "h1.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});

tinymce.init({
    selector: "div.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});
tinymce.init({
    selector: "div.editable",
    inline: true,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | "
});

</script>


 <table class="user_brief_info">
     <tr>
         <td>
             {{img_path =' https://graph.facebook.com/' + person_info.username + '/picture?type=large'}}
             <img border="0" src={{=img_path}} alt="Pulpit rock" width="150" height="150">
         </td>
         <td>
           <table class="user_text_info">
               <tr>
                   <td id="user_fb_name">
                   {{=person_info.first_name + ' ' + person_info.last_name}}
                   </td>
               </tr>
               <tr>
                   <td>
           <div id="user_detail_info" >
               {{if len(person_profile.detail_info):}}
                {{=XML(person_profile.detail_info)}}
               {{else:}}
               {{='gì đó về bạn' }}
               {{pass}}
           </div>
                   </td>
               </tr>
              <tr>
                  <td class="edit_button">
                      {{if auth.is_logged_in():}}
                      {{if auth.user.id == person_info.id:}}
                      {{=A("sửa",_id ='edit_button',_class='profile_handling_button', _href=URL('edit_user_profile',   vars=dict(user_id= request.vars.user_id))   )}}
                      {{pass}}
                      {{pass}}
                  </td>
              </tr>
           </table>
         </td>
     </tr>
     </table>
 <table id = "user_popular_info">
    <tr>
        <td>
            {{="Theo dõi:"}}
            {{=len(followed_list)}}
        </td>
    </tr>
    <tr>
        <!--
        <td>
            {{for follow_record in followed_list:}}
            {{user_info = db(db.auth_user.id == follow_record.followed_user).select().first()}}
            {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
            <img border="0" src={{=img_path}} alt="Pulpit rock" width="40" height="40">
            {{pass}}
        </td>
        -->
    </tr>
    <tr>
        <td>
            {{="Được theo dõi bởi "}}
            <span class="count_following_number">{{=len(following_list)}}</span>
        </td>
    </tr>
    <tr>
        <!--
    <td>
        {{for follow_record in following_list:}}
        {{user_info = db(db.auth_user.id == follow_record.following_user).select().first()}}
        {{img_path =' https://graph.facebook.com/' + user_info.username + '/picture'}}
        <img border="0" src={{=img_path}} alt="Pulpit rock" width="40" height="40">
        {{pass}}
        </td>
        -->
    </tr>
<tr><td>
            <br></br>
        {{if auth.is_logged_in():}}
        {{if not view_my_profile:}}
        {{if not follow_flag  :}}
        <button class ="follow_unfollow_button" id="follow" value={{=person_info.id}} name="follow">Theo dõi</button>
        {{else:}}
        <button class = "follow_unfollow_button" id ="unfollow" value={{=person_info.id}} name="follow">Theo dõi</button>
        {{pass}}
        {{pass}}
        {{pass}}

            </td>
     </tr>
 </table>

<table class="recent_activity_notice">
    <tr>
        <td class="handling_button">
            Các trả lời gần đây:
        </td>
    </tr>
</table>
<table class="user_activity_info">
    {{for answer in answer_list:}}
    {{question = db(db.question_tbl.id ==answer.question_id).select().first()}}
    <tr class="question_unit" >
        <td>
            <table class="content_info_table">
                <tr>
                    <td class="article_header">
                        {{=A(question.question_info,_class='article_header', _href=URL(f='question',args=[question.id]))}}
                    </td>
                </tr>
                <tr>
                    <td class="user_answer_info">
                        {{=XML(answer.answer_info)}}
                    </td>
                </tr>
                </table>
                <table>
                          <tr class="article_popularity_info">
              <td >
                  {{if auth.is_logged_in():}}
                  {{like_record = db((db.answer_like_tbl.answer_id == answer.id)&(db.answer_like_tbl.user_info == auth.user.id )).select()}}
                  {{if len(like_record):}}
                  <span class ="like_unlike_button" id ="unlike" value ={{=answer.id}} style="color: rgb(207, 9, 9);" >
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</span>
                  {{else:}}
                  <a class ="like_unlike_button" id ="like" value ={{=answer.id}} style="color:grey">
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon_grey.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</a>
                  {{pass}}
                  {{else:}}
                  <a  class ="register_to_like" value ={{=''}} style="color:grey" href={{=URL( f='user/login',vars=dict(_next=URL(f='user_profile', vars={'user_id' :request.vars['user_id']} ))  )}}>
                      <img id="heart_img" border="0" src={{=URL('static', 'images/heart_icon_grey.png')}} alt="Pulpit rock" width="20" height="20">
                      thích</a>
                  {{pass}}
                  </td>
                  <td>
                  {{like_record = db((db.answer_like_tbl.answer_id == answer.id)).select()}}
                  <span class="count_like">{{=len(like_record)}}</span><span> thích</span>
                 </td>
              {{if (auth.is_logged_in() and (auth.user.id == answer.author_info)):}}
              <td>
                  {{=A("sửa",_id ='edit_answer_button', _class='handling_button', _href=URL(r=request,f='edit_answer',args=[answer.id], vars={'origin':'user_profile'}))}}
              </td>
              <td>
                  {{=A("xoá",_id='delete_answer_button', _class='handling_button', _href=URL(r=request,f='delete_answer',args=[answer.id]))}}
              </td>
              {{pass}}
              <!--
              <td>bao cao</td>
              -->

          </tr>
             </table>

        </td>
    </tr>
    {{pass}}

</table>
 <br></br>
{{if view_more_flag:}}
    <a id ="view_more_question" href={{=URL(r=request,f='question_list',args=[])}} onclick="location.href=this.href+'?page_num='+{{=int(page_num) + 1}}; return false;">
        xem thêm
    </a>
{{pass}}

<script language="javascript"><!--
     $('#edit_button').click(function () {
        $("#user_sub_info").css({"backgroundColor": "white" });
        $("#user_detail_info").css({"backgroundColor": "white"});
        $('#edit_button').hide();
        $('#save_button').show();
        });

     $('#save_button').click(function () {
     alert('save');
          user_detail_info = document.getElementById("user_detail_info");
        $.ajax({
  type: "POST",
  url: "update_profile",
  data: {sub_if : user_sub_info.innerHTML, detail_if:user_detail_info.innerHTML},
  cache: false,
  success: function(data){
     $("#save_button").hide();
     $("#edit_button").show();
  }
});
        alert('lalala');
        });
     $('.follow_unfollow_button').click(function () {
         var myThisVariable = $(this);
         var id = $(this).attr("value");
         var flag_val = $(this).attr("id");
         var id = $(this).attr("value");
         if (flag_val == 'follow')
         {
            //alert('follow');
            $.ajax({
            type: "POST",
            url: '{{=URL(f='follow_a_person')}}',
            data: {person_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                count_number = $('.count_following_number').html();
                new_count = parseInt(count_number) + 1;
                $('.count_following_number').text(new_count);
                myThisVariable.css('color', 'rgb(207, 9, 9)');
                myThisVariable.attr('id', 'unfollow');
            }
            });
         } else
         {

            //alert('unfollow');
            $.ajax({
            type: "POST",
            url: '{{=URL(f='unfollow_a_person')}}',
            data: {person_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                myThisVariable.attr('id', 'follow');
                myThisVariable.css('color', 'grey');
                count_number = $('.count_following_number').html();
                new_count = parseInt(count_number) - 1;
                $('.count_following_number').text(new_count);
            }
            });

         }
        });




     $('.like_unlike_button').click(function () {
         var myThisVariable = $(this);
         var id = $(this).attr("value");
         var like_unlike_val = $(this).html();
         var like_unlike_val = $(this).attr("id");
         //alert(like_unlike_val);
         //alert(like_unlike_val.length);
         //alert(like_unlike_val.localeCompare("quan tâm"));

if (like_unlike_val == "like")
         {
            //alert('equal like');
             $.ajax({
            type: "POST",
            url: '{{=URL(f='like_an_answer')}}',
            data: {answer_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon.png");
            }
            });

           $(this).css('color', 'rgb(207, 9, 9)');
           $(this).attr('id', 'unlike');
         } else
         {
            $.ajax({
            type: "POST",
            url: '{{=URL(f='unlike_an_answer')}}',
            data: {answer_id : id},
            cache: false,
            success: function(data){
                //myThisVariable.parent().find('.count_like').text(data);
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon_grey.png");
            }
            });
           $(this).attr('id', 'like');
           $(this).css('color', 'grey');
         }
        });
//--></script>
