{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<script type="text/javascript">
tinymce.init({
    selector: "h1.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});

tinymce.init({
    selector: "div.simple_editable",
    inline: true,
    toolbar: "undo redo",
    menubar: false
});
tinymce.init({
    selector: "div.editable",
    inline: true,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | "
});

</script>


 <table class="user_brief_info">
     <tr>
         <td>
             {{img_path =' https://graph.facebook.com/' + person_info.username + '/picture?type=large'}}
             <img border="0" src={{=img_path}} alt="Pulpit rock" width="200" height="200">
         </td>
         <td>
           <table class="user_text_info">
               <tr>
                   <td id="user_fb_name">
                   {{=person_info.first_name + ' ' + person_info.last_name}}
                   </td>
               </tr>
               <tr>
                   <td>
           <div id="user_detail_info" >
               {{if len(person_profile.detail_info):}}
                {{=XML(person_profile.detail_info)}}
               {{else:}}
               {{='gì đó về bạn' }}
               {{pass}}
           </div>
                   </td>
               </tr>
              <tr>
                  <td class="edit_button">
                      {{if auth.is_logged_in():}}
                      {{if auth.user.id == person_info.id:}}
                      {{=A("sửa",_id ='edit_button',_href=URL('edit_user_profile',   vars=dict(user_id= request.vars.user_id))   )}}
                      {{pass}}
                      {{pass}}
                  </td>
              </tr>
           </table>
         </td>
     </tr>
     <tr>
         <td>
            <table class="popular_info">
            <tr>
            <td>
            {{="Quan tam:"}}
            {{=len(followed_list)}}
            </td>
            <td>
            {{="Duoc quan tam: "}}
            {{=len(following_list)}}
            </td>
            </tr>
            </table>
            <br></br>
        {{if auth.is_logged_in():}}
        {{if not follow_flag :}}
        <button id ="follow_button" value={{=person_info.id}} name="follow"> Theo dõi</button>
        {{else:}}
        <button id ="unfollow_button" value={{=person_info.id}} name="follow"> Theo dõi</button>
        {{pass}}
        {{pass}}

            </td>
     </tr>
 </table>




<script language="javascript"><!--
     $('#edit_button').click(function () {
        $("#user_sub_info").css({"backgroundColor": "white" });
        $("#user_detail_info").css({"backgroundColor": "white"});
        $('#edit_button').hide();
        $('#save_button').show();
        });

     $('#save_button').click(function () {
     alert('save');
          user_detail_info = document.getElementById("user_detail_info");
        $.ajax({
  type: "POST",
  url: "update_profile",
  data: {sub_if : user_sub_info.innerHTML, detail_if:user_detail_info.innerHTML},
  cache: false,
  success: function(data){
     $("#save_button").hide();
     $("#edit_button").show();
  }
});
        alert('lalala');
        });
     $('#follow_button').click(function () {
         var id = $(this).attr("value");
        ajax('follow_a_person?person_id='+ id, ['aaaaa'], 'follow_button');
        });
     $('#unfollow_button').click(function () {
         var id = $(this).attr("value");
        ajax('unfollow_a_person?person_id='+ id, [''], 'unfollow_button');
        });
//--></script>
