<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
<!--google font-->
<!--<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100&subset=vietnamese' rel='stylesheet' type='text/css'>-->

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100&subset=vietnamese' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
  <script src="{{=URL('static','js/ckeditor/ckeditor.js')}}"></script>

<script type="text/javascript" src="{{=URL('static','js/tinymce/tinymce.min.js')}}"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
 tinymce.init({
 theme: "modern",
    skin: 'light',
    selector: "textarea",
     width: 550,
     height:250,
      menubar:false,
    statusbar: false,
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    content_css : "{{=URL('static', 'css/content.css')}}"
 });
</script>

  <!-- include stylesheets -->
  {{
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
   response.files.append(URL('static','css/fb_app.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}
    {{left_sidebar_enabled = False}}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '313224325539076',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <script>
    var ACCESS_TOKEN_GLOB = "";
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      ACCESS_TOKEN_GLOB = response.authResponse.accessToken;
      post_access_tk(response.authResponse.accessToken);
      $("#user_profile").show();
      $("#user_profile_login").hide();
      var _href = $("#user_profile").attr("href");
      $("#user_profile").attr("href", _href + '?user_id=' + response.authResponse.userID+'&accesstk=' + response.authResponse.accessToken);

      var _href_logo = $("#logo_site").attr("href");
      $("#logo_site").attr("href", _href_logo + '?accesstk=' + response.authResponse.accessToken);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      $("#user_profile").hide();
      $("#user_profile_login").show();
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      $("#user_profile").hide();
      $("#user_profile_login").show();
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '313224325539076',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      $("#user_profile").text(response.name);
      $("#user_profile_login").hide();
    console.log(JSON.stringify(response));
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
   function post_access_tk(access_tk) {
    console.log('Welcome!  ajax post access token to server... ');
         var request = $.ajax({
                url: "{{=URL('client_access_tk')}}",
                type: "POST",
                data: { data  : access_tk },
                dataType: "html"
          });


        request.done(function( msg ) {

        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });
  }



  function loginFB() {
   FB.login(function(response) {
   // handle the response
 }, {scope: 'public_profile,email'});

  }




</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Navbar ================================================== -->
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse">
    <div class="navbar-inner-new">
      <div class="container">
        {{is_mobile=request.user_agent().is_mobile}}
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="{{='display:none;' if not is_mobile else ''}}">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <!-- {{=response.logo }}-->
          <!-- bug of not update db when login second time with fb-->
          {{temp =  db(db.auth_user).select().first()}}
          {{pass}}

        <ul id="navbar" class="nav pull-right">
            <li>
                <a id ="user_profile" href= "{{=URL(host=True).replace(request.function,'fb_user_profile')}}">
                </a>
                <a id="user_profile_login" style="display: none;" onclick="loginFB()">Đăng nhập</a>
            </li>
        </ul>
         <div class = "nav">
             <ul class = "nav">
        <li class="web2py-menu-first">
            <a id ="logo_site" href= "{{=URL(host=True).replace(request.function,'fb_question_list')}}">
            <img border="0" src={{=URL('static', 'images/chuotnhat_white.png')}} alt="Pulpit rock" width="55" height="65">
            beta
             </a>
        </li>
      <!--  <li class="web2py-menu-first"><input type="text" name="" style="height:30px;font-size:16pt;size=80; width: 500px"  value = "search " ></li>-->
              {{if not is_mobile:}}
         <li class="web2py-menu-first" style ="padding-left:100px">
                    <center>
                    <a id = "post_button" href={{=URL('fb_post')}} rel="nofollow">
                   <img border="0" src={{=URL('static', 'images/ask_icon.png')}} alt="Pulpit rock" width="55" height="65">
                  Đặt câu hỏi
                   </a>
                        </center>
               </li>
                 {{else:}}
                 {{pass}}
                 </ul>
             </div>
          <!--
        <div class="{{='nav-collapse' if is_mobile else 'nav'}}">
          {{if response.menu:}}
          {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->


  <!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



  <div class="container">

    <!-- Masthead ================================================== -->
    <!--
    <header class="mastheader row" id="header">
        <div class="span12">
            <div class="page-header">
                <h1>
                </h1>
            </div>
        </div>
    </header>
    -->

    <section id="main" class="main row">

        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>


        {{if right_sidebar_enabled:}}

        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>

            <p></p>
            {{end}}
        </div>
        {{pass}}

    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}}
                <div class="copyright pull-left">
                    {{=A("Điều khoản sử dụng",_id ='',_href=URL(r=request,f='term_of_use',args=[]))}}
                     &#169; {{=request.now.year}}</div>
                <div id="poweredBy" class="pull-right">
                    Power by
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->

  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
  });</script>
  {{pass}}
</body>
</html>

