{{left_sidebar_enabled = False}}
{{right_sidebar_enabled=False}}
{{extend 'fb_layout.html'}}
{{block center}}




<div class="fb_article_list_containter">
  <div class="header">
      <!--
    <!-- end #header --></div>
  <div class = "content">
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <a id = "fb_post_button" href={{=URL('fb_post')}} rel="nofollow"> Đặt câu hỏi</a>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <a class="">bat cu thu gi dang lam ban ban tam</a>
           </td>
       </tr>
   </table>
   <table class="fb_content_list_table">
       <tr class="article_header" >
           <td>
                     <a id = "fb_post_button" href={{=URL('fb_post')}} rel="nofollow"> Chia sẻ kinh nghiệm</a>
           </td>
       </tr>
       <tr class="detail_info">
           <td>
               <a class="">Chọn lĩnh vực bạn quan tâm</a>
           </td>
       </tr>
   </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- end #mainContent --></div>
  <div id="footer">
  <!-- end #footer --></div>
<!-- end #container --></div>
     <script>
     // click button
     $('#view_answer_button').click(function () {
         var id = $(this).attr("value");
        });
     $('#report_button').click(function () {
         var id = $(this).attr("value");
        ajax('report_a_question?question_id='+ id, [''], 'report_button');
        });
     $('.like_unlike_button').click(function () {
         var myThisVariable = $(this);
         var id = $(this).attr("value");
         var like_unlike_val = $(this).html();
         var like_unlike_val = $(this).attr("id");
         //alert(like_unlike_val);
         //alert(like_unlike_val.length);
         //alert(like_unlike_val.localeCompare("quan tâm"));

         if (like_unlike_val == "like")
         {
             $.ajax({
            type: "POST",
            url: "like_a_question",
            data: {question_id : id},
            cache: false,
            success: function(data){
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon.png");
            }
            });
           $("#heart_img").attr("src","/chuotnhat/static/images/heart_icon.png");
           $(this).css('color', 'rgba(207, 9, 9, 1)');
           $(this).attr('id', 'unlike');
         } else
         {
            $.ajax({
            type: "POST",
            url: "unlike_a_question",
            data: {question_id : id},
            cache: false,
            success: function(data){
                myThisVariable.parent().next('td').find('.count_like').text(data);
                myThisVariable.find("#heart_img").attr("src","/chuotnhat/static/images/heart_icon_grey.png");
            }
            });
           $(this).attr('id', 'like');
           $(this).css('color', 'grey');
         }
        });
      </script>
{{end}}

{{block right_sidebar}}
        <div id="right_bar_info" >
            {{=A('Vi sao co chuotnhat.vn',_class='mission_info_link', _href=URL(f='fb_post',args=[]))}}
            </div>
{{end}}
</html>


