{{left_sidebar_enabled = True}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}


        <div id="mission_info">
<h3>Ch&agrave;o mừng bạn đến với Chuột Nhắt</h3>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; Đ&atilde; bao giờ bạn tự nhủ với m&igrave;nh:</p>
<ul>
<li style="padding-left: 60px;">Gi&aacute; như m&igrave;nh được định hướng tốt hơn khi hết cấp 3</li>
<li style="padding-left: 60px;">Gi&aacute; nhu c&oacute; ai truyền động lực cho m&igrave;nh trong c&ocirc;ng việc</li>
<li style="padding-left: 60px;">Kh&ocirc;ng hiểu sao bạn đ&oacute; lại th&agrave;nh c&ocirc;ng thế nhỉ.</li>
<li style="padding-left: 60px;">...</li>
</ul>
<p>&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; Chuột nhắt tin rằng bằng việc cung cấp một địa điểm nơi moi người c&oacute; thể học hỏi từ kinh nghiệm thực từ &nbsp;những con người thực xung quanh, bạn sẽ c&oacute; một c&aacute;i nh&igrave;n ch&iacute;nh x&aacute;c hơn về vấn đ&ecirc; m&igrave;nh gặp phải.</p>
<p>&nbsp; &nbsp; &nbsp; Nếu bạn đồng t&igrave;nh với Chuột nhắt, hay đặt 1 c&acirc;u hỏi hoặc t&igrave;m v&agrave;o trả lời c&acirc;u hỏi m&agrave; bạn quan t&acirc;m.</p>
<h3>&nbsp;</h3>
            </div>