/*=============================================================
                       CUSTOM RULES
==============================================================*/
.fb_article_list_containter{
margin-top: 40px;
}
.fb_content_list_table{
margin-bottom: 40px;
}
.fb_article_list_containter .article_header {
font-size: 20px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: rgb(19, 19, 219);
}



.fb_article_list_containter .detail_info {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: rgb(19, 19, 219);
}

.fb_article_list_containter .detail_info td a{

}

#fb_post_button{
}

#share_knownledge_header{
color: black;
}


#typing_box{
height: 20px;
width:300px;
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;

}